---
import { getUsers, User } from "../../network/users";
import "./index.css";
const users = await getUsers();
import { Divider, List, Typography } from "antd";
const data = [
  "Racing car sprays burning fuel into crowd.",
  "Japanese princess to wed commoner.",
  "Australian walks 100km after outback crash.",
  "Man charged over missing wedding girl.",
  "Los Angeles battles huge wildfires.",
];
---

<div class="about" id="about">
  <h1>
    Nosotros, los <span>participantes</span>
  </h1>
  <div class="users">
    {
      [...users].map((user: User) => (
        <div class="user">
          <img src={user.image_url} alt={user.name} />
          <h2>
            {user.name} {user.lastname}
          </h2>
          <p>" {user.caption} "</p>
        </div>
      ))
    }
  </div>
  <div></div>
</div>
